* {
    box-sizing: border-box;
}

body {
    background-color: rgba(49, 48, 99, 0.986);
    font-family: "Audiowide", sans-serif;
    color: aliceblue;
  }

.col-1 {width: 16.66%;}
.col-2 {width: 33.33%;}
.col-3 {width: 50%;}
.col-4 {width: 66.67%;}
.col-5 {width: 83.33%;}
.col-6 {width: 100%;}

[class *="col-"] {
    float: left;
    padding: 15px;
}


.navigation {
    z-index: 9999;
    background-color:rgba(254, 199, 0, 0.849); 
    overflow: hidden;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.navigation a {
    text-align: center;
    color: rgba(49, 48, 99, 0.986);
    font-size: 50px;
    text-decoration: none;
    padding: 0% 5%;
}

.navigation a:hover {
    background-color: rgba(49, 48, 99, 0.986);
    color: aliceblue;
}

.navigation a:active {
    background-color:rgb(102, 20, 36);
    color: aliceblue;
}

#activePage {
    background-color:rgb(102, 20, 36);
    color: aliceblue;
}

footer {
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.696); 
    
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    text-align: center;
    border-bottom: solid rgba(49, 48, 99, 0.986);
    background-image: url(html/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.logo h1 {
    color: rgb(102, 20, 36);
    padding-top: 0%;
    padding-bottom: 0%;
    text-shadow: 2px 2px rgba(254, 199, 0, 0.986);
}

.saleGames {
    background-color: rgb(36, 36, 36);
    display: block;
    position: relative;
    overflow: hidden;
}

.buy {
    background-color: rgba(254, 199, 0, 0.849);
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
    overflow: hidden;
}

.buy a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(49, 48, 99, 0.986);
    font-size: large;
    padding: 10px;
}

.buy a:hover {
    background-color: rgba(49, 48, 99, 0.986);
    color:aliceblue;
}

.buy a:active {
    background-color:rgb(102, 20, 36);
    color: aliceblue;
}

.buy2 {
    background-color: rgba(254, 199, 0, 0.849);
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
    overflow: hidden;
}

.buy2 a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(49, 48, 99, 0.986);
    font-size: large;
    padding: 10px;
}

.buy2 a:hover {
    background-color: rgba(49, 48, 99, 0.986);
    color:aliceblue;
}

.buy2 a:active {
    background-color:rgb(102, 20, 36);
    color: aliceblue;
}

.intro {
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0px;
}

.introText {
    display: block;
    font-size: 15px;
    padding-top: 5px;
    line-height: normal;
    
}

.intro2 {
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    top: 0px;
}

.hl3 {
    float: right;
}

.payForm {
    
    background-color: rgb(102, 20, 36);
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 30%;
    padding: 15px 20px;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px;
    cursor: text;
    background-color: rgba(254, 199, 0, 0.849);
    font-family: "Audiowide", sans-serif;
    color: rgba(49, 48, 99, 0.986);
}

input[type=submit] {
    background-color: rgba(254, 199, 0, 0.849);
    cursor: pointer;
    width: 100%;
    padding: 10px 10px;
    margin: 10px;
}

input[value=Submit] {
    font-family: "Audiowide", sans-serif;
    color: rgba(49, 48, 99, 0.986);
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: rgba(49, 48, 99, 0.986);
    color: aliceblue;
}

input[type=submit]:active {
    background-color: rgb(102, 20, 36);
    color: aliceblue;
}

.prompt {
    margin-top: 5%;
    text-align: center;
    font-size: 25px;
}

.aboutLogo {
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;   
    margin-left: 10%;
    margin-right: 10%;
}

.aboutLogo p {
    padding: 15px;
    padding-top: 0px;
    font-size: 15px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 50%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}



@media only screen and (max-width: 1000px) {
    .introText {
        font-size: 13px;
    }
}

@media only screen and (max-width: 900px) {
    [class*="col-"] {
      width: 100%;
    }
    .navigation a {
        font-size: 30px;
    }
    .intro {
        position: relative;
    }
    .intro2 {position: relative;}
    .buy {
        left: auto;
    }
    .buy2 {
        right: auto;
    }
}
