* {
    box-sizing: border-box;
}

body {
    background-color: rgba(49, 48, 99, 0.986);
    font-family: "Audiowide", sans-serif;
    color: aliceblue;
  }

.col-1 {width: 16.66%;}
.col-2 {width: 33.33%;}
.col-3 {width: 50%;}
.col-4 {width: 66.67%;}
.col-5 {width: 83.33%;}
.col-6 {width: 100%;}

[class *="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
}


.navigation {
    background-color:rgba(254, 199, 0, 0.986); 
    overflow: hidden;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.navigation a {
    text-align: center;
    color: rgba(49, 48, 99, 0.986);
    font-size: 50px;
    text-decoration: none;
    padding: 0% 5%;
}

.navigation a:hover {
    background-color: rgba(49, 48, 99, 0.986);
    color: aliceblue;
}

.navigation a:active {
    background-color:rgb(102, 20, 36);
    color: aliceblue;
}

#activePage {
    background-color:rgb(102, 20, 36);
    color: aliceblue;
}

footer {
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.696); 
    
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    text-align: center;
    border-bottom: solid rgba(49, 48, 99, 0.986);
    background-image: url(html/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo h1 {
    color: rgb(102, 20, 36);
    padding-top: 0%;
    padding-bottom: 0%;
    text-shadow: 2px 2px rgba(254, 199, 0, 0.986);
}
